:root {
--bg-dark: #1B1F3A;
--purple-accent: #53354A;
--orange-dark: #A64942;
--orange-bright: #FF7844;
--font-light: #f0f0f0;
--font-muted: #c0c0c0;
--font-ash: #9f9393; 
}


/* Elements */
body {
  background-color: black;
  background-image: url('./assets/Shattered-Dark-BG.png');
}

footer {
  color: var(--orange-bright);
}

/* Classes */
/* Flex */
/* .flex-container {
} */

/* Sections */
.feature-card {
  background-color: var(--font-muted);
  height: 100%;
  border-radius: .50rem
}

footer .nav-link {
  color: var(--font-muted);
}

footer .copyright {
  color: var(--font-muted);
  
}

/* Images */
.jumbo-bg {
  position: relative;
  background-image: url('./assets/AshlightPath.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--font-light);
}

.jumbo-bg::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* dark overlay */
  z-index: 1;
}

.jumbo-bg .container {
  position: relative;
  z-index: 2;
}

.img-lantern {
  height: 75px;
  display: inline-block !important;
  vertical-align: bottom !important;
}

.icon {
  height: 48px;
  width: 48px;
}

footer .icon {
  height: 48px;
  width: 48px;
}

/* Bootstrap */
.custom-pill {
    
    background-color: var(--purple-accent) !important;
    color: var(--orange-bright) !important;
    font-family: "Cinzel", serif !important;
    font-weight: 600 !important;
    padding: 0rem 1rem !important;
    border-radius: 2rem !important;
    margin: 0rem .25rem !important;
}

/* Font */
.brand-ash {
    color: var(--font-ash);
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
    font-style: normal;
}

.brand-light {
    color: var(--orange-bright);
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.jumbo-h1 {
  font-weight: 700;
  font-family: "Cinzel", serif;

}

.jumbo-p {
  font-weight: 500;
  font-size: 1.50rem;
  font-family: "Roboto", sans-serif;
}

.feature-card > h3 {
  font-family: "Cinzel Decorative", serif;
  padding: .5rem;
}

.feature-card > p {
  font-family: "Roboto", sans-serif;
  padding: .5rem;
}

footer .nav-item {
    font-family: "Cinzel Decorative", serif;
}

/* Font Snippets */
/* Cinzel */
.cinzel-regular {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.cinzel-medium {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.cinzel-semibold {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.cinzel-bold {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.cinzel-extrabold {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.cinzel-black {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/* Cinzel Decorative */
.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

/* Roboto */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* IDs */